{
  "dmrClusterName": "{{ dmr.clusterName }}",
  "remoteNodeName": "{{ dmrRemoteNode }}",
  "span": "{{ dmrlink_linkSpan }}",
  "queueMaxMsgSpoolUsage": {{ dmrlink_queueMaxMsgSpoolUsage }},
  "enabled": {{ dmrlink_enabled }},
  "egressFlowWindowSize": {{ dmrlink_egressFlowWindowSize }},
  "transportTlsEnabled": {{ dmrlink_transportTlsEnabled }},
  "transportCompressedEnabled": {{ dmrlink_transportCompressedEnabled }},
  "initiator": "lexical",
  "authenticationScheme": "basic",
  "queueMaxRedeliveryCount": 0,
  "queueMaxTtl": 0,
  "queueRejectMsgToSenderOnDiscardBehavior": "always",
  "queueRespectTtlEnabled": true
}
