{
 "msgVpnName": "{{vpn.vpn_name}}",
 "maxMsgSpoolUsage": {{ vpn.maxMsgSpoolUsage }},
 "authenticationBasicType": "{{ vpn.authenticationBasicType }}",
 "serviceMqttMaxConnectionCount": {{ vpn.serviceMqttMaxConnectionCount }},
 "serviceMqttPlainTextEnabled": {{ vpn.serviceMqttPlainTextEnabled }},
 "serviceMqttPlainTextListenPort": {{ vpn.serviceMqttPlainTextListenPort }},
 "dmrEnabled": {{ vpn.dmrEnabled }},
 "enabled": true
}
