{
 "msgVpnName": "{{vpn.vpn_name}}",
 "maxMsgSpoolUsage": {{ vpn.maxMsgSpoolUsage }},
 "authenticationBasicType": "{{ vpn.authenticationBasicType }}",
 "serviceMqttMaxConnectionCount": {{ vpn.serviceMqttMaxConnectionCount }},
 "serviceMqttPlainTextEnabled": {{ vpn.serviceMqttPlainTextEnabled }},
 "serviceMqttPlainTextListenPort": {{ vpn.serviceMqttPlainTextListenPort }},
 "serviceMqttWebSocketEnabled": {{ vpn.serviceMqttWebSocketEnabled }},
 "serviceMqttWebSocketListenPort": {{ vpn.serviceMqttWebSocketListenPort }},
 "serviceMqttTlsEnabled": {{ vpn.serviceMqttTlsEnabled }},
 "serviceMqttTlsListenPort": {{ vpn.serviceMqttTlsListenPort }},
 "serviceMqttTlsWebSocketEnabled": {{ vpn.serviceMqttTlsWebSocketEnabled }},
 "serviceMqttTlsWebSocketListenPort": {{ vpn.serviceMqttTlsWebSocketListenPort }},
 "dmrEnabled": {{ vpn.dmrEnabled }},
 "enabled": {{ vpn.enabled }}
}
