{
  "dmrClusterName": "{{ dmr.clusterName }}",
  "enabled": true,
  "authenticationBasicEnabled": {{ dmr.authenticationBasicEnabled }},
  "authenticationBasicPassword": "{{ dmr.authenticationBasicPassword }}",
  "authenticationBasicType": "{{ dmr.authenticationBasicType }}",
  "directOnlyEnabled": false,
  "tlsServerCertEnforceTrustedCommonNameEnabled": false,
  "tlsServerCertMaxChainDepth": 3,
  "tlsServerCertValidateDateEnabled": false,
  "tlsServerCertValidateNameEnabled": false
}
